/app/build/vendor
/app/build/*
!/app/build/jobs.yml
!/app/build/profiles.yml
!/app/build/blocks.yml
/app/bootstrap.php.cache
/app/cache/*
/app/config/parameters.yml
/app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep
/phpunit.xml
/build/
/bin/
/composer.phar
/composer.lock
/vendor
/web/bundles
/web/assets
/php-cs-fixer.phar
/phpunit.phar
/node_modules
/npm-debug.log
/frontend/semantic/definitions
/frontend/semantic/themes
/frontend/semantic/theme.less
/logfile
/*.pyc
/nbproject
