{% extends 'AppBundle::base.html.twig' %}

{% block content %}
    <div class="content-section-a">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    {{ form(project_form) }}
                    {{ form(problem_form) }}
                    {{ form(switching_problem_form) }}
                    {{ form(switching_project_form) }}
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
